.dialogue {
  margin: 1em;
}

.chat {
  margin: 1em;
}

.chat div {
  max-width: 80%;
  width: fit-content;
  padding: 0.5em;
  border-radius: 3px;
}

.chat .left {
  margin: 0 0 0 0;
  background: rgb(234, 234, 234);
}

.chat .right {
  margin: 0 0 0 auto;
  background: rgb(93, 150, 212);
}
